.container
  h1 Team
  hr
  .row
    .col-md-2
      img(src='static/views/img/govi.jpg', width='150')
      br
      br
      p
        a(href='http://stanford.edu', target='_blank') Stanford
        |  '14 CS AI
        br
        a(href='http://harker.org', target='_blank') Harker
        |  '12.
    .col-md-4
      p
        b
          a(href='http://govindadasu.com', target='_blank') Govinda Dasu
        |  came up with the idea for Learning Dollars while pondering the following hypothetical: If everyone in the world were educated, would poverty and unemployment exist? He wagered no. There is always demand for  labor, but the catch is that that labor often requires rare skills. If skills could be easily learned and applied through cohesive and integrated web modules, labor markets would be more liquid and wealth could reach impoverished hands. At Learning Dollars, Dasu focuses on business and web development.
    .col-md-2
      img(src='static/views/img/will.jpg', width='150')
      br
      br
      p
        a(href='http://stanford.edu', target='_blank') Stanford
        |  '14 CS AI
    .col-md-4
      p
        b
          a(href='https://www.facebook.com/notinuse', target='_blank') Will Meyer
        |  joined Learning Dollars as part of CS 194 (Senior Software Project) at Stanford. At Learning Dollars, Meyer manages OpenCourseWare integrations.
  .row
    .col-md-2
      img(src='static/views/img/tim.jpg', width='150')
      br
      br
      p
        a(href='http://stanford.edu', target='_blank') Stanford
        |  '14 CS Systems
    .col-md-4
      p
        b
          a(href='http://www.linkedin.com/in/timothysantos', target='_blank') Tim Santos
        |  joined Learning Dollars as part of CS 194 (Senior Software Project) at Stanford. At Learning Dollars, Santos manages freelancing operations.
    .col-md-2
      img(src='static/views/img/leo.jpg', width='150')
      br
      br
      p
        a(href='http://stanford.edu', target='_blank') Stanford
        |  '14 CS HCI
    .col-md-4
      p
        b
          a(href='https://www.facebook.com/leo.rong', target='_blank') Leo Rong
        |  joined Learning Dollars as part of CS 194 (Senior Software Project) at Stanford. At Learning Dollars, Rong manages design.
