.container
  .jumbotron
    h1 Welcome to Learning Dollars!
    br
    .row
      .col-md-6
        p If you are looking to learn and get employed, 
          | you're at the right place.
      .col-md-6
        p If you are an employer looking to post projects,
          | you're at the right place.