body {
	padding-top: 70px;;
	padding-bottom: 20px;
}

.navbar {
	margin-bottom: 20px;
}

.btn {
	background-color: #000000;
	border-color: #000000;
	color:#D0D0D0;
}

.btn:hover {
	background-color: #282828;
	color:#FFFFFF;
}

th, td {
	padding-left: 10px;
	padding-right: 10px;
}

.tab-content {
	max-height: 500px;
	overflow-y:scroll; 
}

.post_project {
	margin: 10px;
}

