body {
  padding-top: 70px;;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.btn {
	background-color: #000000;
	border-color: #000000;
	color:#D0D0D0;
}

.btn:hover {
	background-color: #282828;
	color:#FFFFFF;
}

td {
	padding-left: 5px;
	padding-right: 5px;
}