.container
  .panel.panel-default
    .panel-heading
      h3 My Bids
    table#all_placed_bids.table.table-hover
      tr
        th Project Name
        th Current Bid Count
        th View on freelancer.com
        th End date
        th Accept/Decline