!!! 5
html(lang='en')
head
  include header.html
  body
    .container
      include navbar.html
      h1 About
      hr
      p Learning Dollars is a website and cross-platform mobile app bridging open courseware and paid work.
      b Problem
      p Learning Dollars seeks to solve an economic problem. The U.S. unemployment rate is over 7%, yet companies struggle to find engineers. 80% of the developing world has cell phones, yet clean water and shelter remain problems. All at the same time, top-notch universities are putting their courseware online. So why don’t we see people in poverty completing classes on MIT OpenCourseWare and getting high paying gigs, whether by freelancing or through corporate recruitment?
      b Solution
      p Learning Dollars wagers the reason is not because OpenCourseWare to paid work is an impossible leap. Rather, the very notion of “completing an online course to gain skills for immediate monetization” is just not “a thing” among the unskilled or unemployed. We want to make it a thing. In other words, we want to build a website and cross-platform mobile app bridging OpenCourseWare and paid work. We want to aggregate OpenCourseWare into comprehensive modules. After completing modules, users will be presented with paid projects they can complete as well as full-time jobs they can apply to.
    include footer.jade