<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
    <head>
        {% include 'templates/header.html' %}
    </head>
    <body>
        <div class="container">
            {% include 'templates/navbar.html' %}
            <h1>Dashboard</h1>
            <hr>
            <!-- First Row -->
            <div class = "row"> 
                <div class = "col-md-4"> <!-- bids --> 
                    <h2 id="my_bids_hdr">My Bids</h2>
                    <table class="table table-striped" id="all_placed_bids">
                        <tr>
                        <th>Project Name</th>
                        <th>Current Bid Count</th>
                        <th>Url</th>
                        <th>End date</th>
                        <th>Accept/Decline</th>
                        </tr>
                    </table>
                </div>
                <div class = "col-md-8"> <!-- mailbox --> 
                    {% include 'templates/mailbox.html' %}
                </div>
            </div>
            <!-- Second Row -->
            <div class = "row">
                <div class = "col-md-4"> <!-- posts --> 
                    <div class-"post_project"> 
                        <h2>Post New Project</h2>
                        Name: <input class="form-control" type="text" id="name">
                        Job Type: <input class="form-control" type="text" id="type" placeholder="ex: 'Java' ">
                        Description: <textarea class="form-control" id="description"></textarea>
                        Budget Option:
                        <select class="form-control" id="budget_option">
                            <option value="1">$250-750</option>
                            <option value="2">$750-1500</option>
                            <option value="3">$1500-3000</option>
                            <option value="4">$3000-5000</option>
                            <option value="5">$30-$250</option>
                            <option value="5">&gt$5000</option>
                        </select>
                        Duration (Max 60 days): <input class="form-control" type="text" id="duration">
                        <br>
                        <button type="button" class="btn btn-default btn-lg" id='post_project'> Post Project
                        </button>
                    </div>
                </div>
                <div class = "col-md-4"> <!-- bids on post --> 
                    <h1>Bids on Post</h1>
                    <ol id = "bids-on-post" postid = "8"> <!--eventually load postid with jquery-->
                    </ol>
                </div>
                <div class = "col-md-4"> <!-- milestones on post --> 
                </div>
            </div>
            <div class="row">
                <h2>Posted Projects</h2>
                <table class="table table-striped" id="posted_projects">
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Average bid</th>
                        <th>Bid count</th>
                        <th>End date</th>
                        <th>Project id</th>
                        <th>Url</th>
                        </tr>
                </table>
            </div>
            <div class = "row">
              <div class = "create_milestone">
                <h2>Create Milestone</h2>
                  ID: 
                  <input class ="form-control" type="text" id="projectid" placeholder="1034">
                  Amount: 
                  <input class="form-control" type="text" id="amount">
                  User Name: 
                  <input class="form-control" type="text" id="tousername" placeholder = "govindadasu">
                  Reason: 
                  <input class="form-control" type="text" id="reasontext">
                  Reason Type: 
                  <select class="form-control" id="reasontype">
                    <option value="partial">Partial</option>
                    <option value="full">Full</option>
                    <option value="other">Other</option>
                  </select>
                  <button type="button" class="btn btn-default btn-lg" id='create_milestone_payment'>   Create Milestone Payment
                  </button>
              </div>
            </div>
            <div class="row">
                <h2>Milestone List</h2>
                <input type = "text" class = "form-control" id = "signature" placeholder = "Your Signature for Actions">
                <br>
                <table class="table table-striped" id="milestone_list">
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Date</th>
                        <th>Project ID</th>
                        <th>Project Name/th>
                        <th>Reason</th>
                    </tr>
                </table>
            </div>
        </div>
        {% include 'templates/footer.html' %}
        <script src = 'static/views/js/dashboard.js'></script>
    </body>
</html>
{% endautoescape %}