<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
    <head>
        {% include 'templates/header.html' %}
    </head>
    <body>
        <div class="container">
            {% include 'templates/navbar.html' %}
            <h1>Dashboard</h1>
            <hr>
            <!-- First Row -->
            <div class = "row"> 
                <div class = "col-md-4"> <!-- bids --> 
                </div>
                <div class = "col-md-4"> <!-- milestones for bid --> 
                </div>
                <div class = "col-md-4"> <!-- mailbox --> 
                    <h1>Messages</h1>
                    <ul class="nav nav-tabs" id="messageTabs">
                        <li class="active"><a href="#inbox">Inbox</a></li>
                        <li><a href="#sent">Sent</a></li>
                        <li><a href="#newMessage">New Message</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="inbox">
                            <ul id = "inboxMessages">
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="sent">
                            <ul id = "sentMessages">
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="newMessage">
                            <div class="form-group">
                                <label>To:</label>
                                <input type="text" class="form-control" id="to_user_name" placeholder="User Name">
                            </div>
                            <div class="form-group">
                                <label>Project ID Number:</label>
                                <input type="number" class="form-control" id="project_id" placeholder="Project ID #">
                            </div>
                            <div class="form-group">
                                <label>Message:</label>
                                <textarea class="form-control" rows="3" id="message_text" placeholder="Enter Message Here"></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-default" id="sendBtn">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Second Row -->
            <div class = "row">
                <div class = "col-md-4"> <!-- posts --> 
                    <div class="post_project"> 
                        <h2>Post New Project</h2>
                        Name: <input class="form-control" type="text" id="name">
                        Job Type: <input class="form-control" type="text" id="type" placeholder="ex: 'Java' ">
                        Description: <textarea class="form-control" id="description"></textarea>
                        Budget Option:
                        <select class="form-control" id="budget_option">
                            <option value="1">$250-750</option>
                            <option value="2">$750-1500</option>
                            <option value="3">$1500-3000</option>
                            <option value="4">$3000-5000</option>
                            <option value="5">$30-$250</option>
                            <option value="5">&gt$5000</option>
                        </select>
                        Duration (Max 60 days): <input class="form-control" type="text" id="duration">
                        <br>
                        <button type="button" class="btn btn-default btn-lg" id='post_project'> Post Project
                        </button>
                    </div>
                </div>
                <div class = "col-md-4"> <!-- bids on post --> 
                    <h1>Bids on Post</h1>
                    <ol id = "bids-on-post" postid = "8"> <!--eventually load postid with jquery-->
                    </ol>
                </div>
                <div class = "col-md-4"> <!-- milestones on post --> 
                </div>
            </div>
            <div class="row">
                <h2>Posted Projects</h2>
                <table class="table table-striped" id="posted_projects">
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Average bid</th>
                        <th>Bid count</th>
                        <th>End date</th>
                        <th>Project id</th>
                        <th>Url</th>
                        </tr>
                </table>
            </div>
        </div>
        {% include 'templates/footer.html' %}
        <script src = 'static/views/js/dashboard.js'></script>
    </body>
</html>
{% endautoescape %}