meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='description', content='')
meta(name='author', content='')
link(rel='shortcut icon', href='static/bootstrap/docs/assets/ico/favicon.ico')
title #{title}
link(href='static/bootstrap/docs/dist/css/bootstrap.min.css', rel='stylesheet')
link(href='static/views/css/navbar.css', rel='stylesheet')

// Just for debugging purposes. Don't actually copy this line! 
//if lt IE 9
  script(src='static/bootstrap/docs/assets/js/ie8-responsive-file-warning.js')
// HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
//if lt IE 9
  script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
  script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
