<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
  <head>
    {% include 'templates/header.html' %}
  </head>
  <body>
    <div class="container">
      {% include 'templates/navbar.html' %}
      <div class="jumbotron">
	  <h1>Welcome to Learning Dollars!</h1>
	  <p>You can start exploring the different modules here:</p>
	  <p><a class="btn btn-primary btn-lg" role="button" href="/modules">Explore Modules</a></p>
	</div>
    </div>
    {% include 'templates/footer.html' %}
  </body>
</html>
{% endautoescape %}