!!! 5
html(lang='en')
  head
    include header.jade
  body
    .container
      include navbar.jade
      .jumbotron
        h1 Welcome to Learning Dollars!
        br
        .row
          .col-md-6
            p If you are looking to learn and get employed, you can start exploring the different modules here:
            p
              a.btn.btn-primary.btn-lg(role='button', href='/modules') Explore Modules
          .col-md-6
            p If you are an employer looking to post a project on Freelancer, you can post it here:
            p
              a.btn.btn-primary.btn-lg(role='button', href='/myposts') My Posts
    include footer