<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
  <head>
    {% include 'templates/header.html' %}
  </head>
  <body>
    <div class="container">
      {% include 'templates/navbar.html' %}
      <h1>Modules</h1>
      <hr>
      <table>
        {% for m in modules %}
          {% if modules.index(m)%5 == 0 %}
            <tr><td><a href = "{{ m.key }}">{{ m.name }}</a></td>
          {% else %}
            <td><a href = "{{ m.key }}">{{ m.name }}</a></td>
          {% endif %}
          {% if modules.index(m)%5 == 4 %}
            </tr>
          {% endif %}
        {% endfor %}
      </table>
    </div>
    {% include 'templates/footer.html' %}
  </body>
</html>
{% endautoescape %}