<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
  <head>
    {% include 'templates/header.html' %}
  </head>
  <body>
    <div class="container">
      {% include 'templates/navbar.html' %}
      <h1>{{ name }}</h1>
        {% if yt_type == "video" %}
          {% for video in youtube %}
            <iframe width="560" height="315" src="//www.youtube.com/embed/{{ video }}" frameborder="0" allowfullscreen></iframe>
          {% endfor %}
        {% else %}
          {% if yt_type == "playlist" %}
            {% for pl in youtube %}
              <iframe width="560" height="315" src="//www.youtube.com/embed/videoseries?list={{ pl }}" frameborder="0" allowfullscreen></iframe>
            {% endfor %}
          {% endif %}
        {% endif %}
     </div>
    {% include 'templates/footer.html' %}
  </body>
</html>
{% endautoescape %}
