!!! 5
html(lang='en')
head
    | {% include 'templates/header.html' %}
  body
    .container
      | {% include 'templates/navbar.html' %}
      .panel.panel-default
        .panel-heading
          h3 My Bids
        table#all_placed_bids.table.table-hover
          tr
            th Project Name
            th Current Bid Count
            th View on freelancer.com
            th End date
            th Accept/Decline
    | {% include 'templates/footer.html' %}
    script(src='static/views/js/mybids.js')