.navbar.navbar-fixed-top.navbar-inverse(role='navigation')
    .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Learning Dollars
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li
              a(href='/team') Team
            li
              a(href='/about') About
            li
              a(href='/modules') Modules
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Dashboard
                b.caret
              ul.dropdown-menu
                li
                  a(href='/mailbox') Mailbox
                li
                  a(href='/mybids') My Bids
                li
                  a(href='/myposts') My Posts
                li
                  a(href='/milestones') Milestones
          ul.nav.navbar-nav.navbar-right
            if nickname
              li
                a(href='./') #{nickname}
            else
              li
                a(href=url) #{url_linktext}