<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
    <head>
        {% include 'templates/header.html' %}
    </head>
    <body>
        <div class="container">
            {% include 'templates/navbar.html' %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>{{ projectname }}</h3>
                </div>
               
            </div>
        </div>
        {% include 'templates/footer.html' %}
        <script src = 'static/views/js/mybids.js'></script>
    </body>
</html>
{% endautoescape %}