<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
    <head>
        {% include 'templates/header.html' %}
    </head>
    <body>
        <div class="container">
            {% include 'templates/navbar.html' %}
            <div class="jumbotron">
                <h1>Welcome to Learning Dollars!</h1>
                <br>
                <div class ="row">
                    <div class = "col-md-6">
                        <p>If you are looking to learn and get employed, you can start exploring the different modules here:</p>
                        <p><a class="btn btn-primary btn-lg" role="button" href="/modules">Explore Modules</a></p>
                    </div>
                    <div class = "col-md-6">
                        <p>If you are an employer looking to post a project on Freelancer, you can post it here:</p>
                        <p><a class="btn btn-primary btn-lg" role="button" href="/myposts">My Posts</a></p>
                    </div>
                </div>
            </div>
        </div>
        {% include 'templates/footer.html' %}
    </body>
</html>
{% endautoescape %}