tr
  td #{bidder}
    if is_owner
      button.btn.btn-default.bid.pull-right(
        project_id=projectid,
        bidder_id=bidder_id
      ) Pick 
    else
      .pull-right You didn't post this project.