.container
  .panel.panel-default
    .panel-heading
      h1 #{name}
    .panel-body
      .row
        .col-md-6
          table.table.table-striped
            tr
              td Budget: 
                b.pull-right $#{price}
            tr
              td End date: 
                b.pull-right #{end_date}
        .col-md-6
          table.table.table-striped#bids
            tr
              td 
                b Bids
            tr#bids_loader
              td
                img(src = '/static/views/img/ajax-loader.gif')